<div class="container">
  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      <h1>Update UFO</h1>
      <%= simple_form_for @ufo do |f| %>
        <div class="form-inputs">
          <%= f.input :brand, input_html: { autocomplete: 'off', autofocus: true } %>
          <%= f.input :speed %>
          <%= f.input :age %>
          <%= f.input :description %>
          <%= f.input :price %>
        </div>

        <div class="form-actions">
          <%= f.submit class: 'btn btn-lg btn-primary' %>
          <%= link_to 'Cancel', ufos_path, class: 'btn btn-lg btn-secondary mx-2' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

