<% content_for :navbar_class, 'navbar-lewagon-transparent' %>
<div class="banner text-center" id="home-banner">
  <h1>A I R&nbsp;&nbsp;&nbsp;U F O</h1>
  <div class="sub-title">
    <h4>You ask for a UFO? We say no problem!</h4>
  </div>
  <div class="btn-rent-create">
      <% if policy(Ufo).create? %>
        <div class="rent">
          <%= link_to "Rent a UFO?", "#search", class: "button btn btn-lg btn-banner" %>
        </div>
        <div class="list">
          <%= link_to "List your UFO?", new_ufo_path, class: "button btn btn-lg btn-banner" %>
        </div>
      <% end %>
    </div>
</div>

<a name="search"></a>
<div class="container mt-5 ">
  <div class="search-bar">
    <div>
      <%= form_tag search_ufos_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find UFOs"
        %>
    </div>
    <div>
        <%= submit_tag "Search", class: "btn btn-primary btn-search" %>
    </div>
      <% end %>
  </div>
  <div class="row">
    <% @ufos.each_with_index do |ufo, i| %>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="link">
        <%= link_to ufo_path(ufo.id), class: "link" do %>
        </div>
        <div class="card">
          <%= cl_image_tag ufo.photo, alt: "ufo-image", class: "card-img-top" %>
          <%#= cl_image_tag photo_or_fallback(cocktail), style: "height: 180px; object-fit: cover;" %>
          <div class="card-body">
            <p class="spaceship_name"><%= ufo.brand %></p>
            <p class="features"> <strong> Main Features: </strong> <%= ufo.description %></p>
            <p class="price"><strong> Price: </strong><%= ufo.price %> Space$</p>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
