<div class="banner text-center">
  <div class="container">
    <h1>AIR UFO</h1>
    <p>U ask UFO? We say no problem...</p>
    <%= link_to "U own UFO?", new_ufo_path, class: "btn btn-outline-dark btn-lg" %>
    <p>.............</p>
    <%= link_to "Or u wanna rent one?", new_ufo_path, class: "btn btn-outline-dark btn-lg" %>
  </div>
</div>
<div class="cards container mt-5">
    <% @ufos.each do |ufo| %>
      <div class="card" style="width: 18rem;">
        <%= image_tag "ufo1.jpg", alt: "ufo-image", class: "card-img-top" %>
        <%#= cl_image_tag photo_or_fallback(cocktail), style: "height: 180px; object-fit: cover;" %>
          <p class="card-text card-absolute"><%= ufo.brand %></p>
        <div class="card-body">
          <p class="card-text"><%= ufo.description %></p>
          <p class="card-text"><strong><%= ufo.price %></strong> Alien money</p>
        </div>
      </div>
  <% end %>
</div>