<div class="container-show">
  <div class="details left-details">
    <div class="picture">
      <%= image_tag "ufo1.jpg", alt: "ufo-image" %>
    </div>
    <div class="text-container">
      <h3 class="my-3"><%= @ufo.brand %></h3>
      <p><strong>Features:</strong> <%= @ufo.description %></p>
      <p><strong>Owner:</strong> <%= @ufo.owner.email %></p>
      <p><strong>Speed:</strong> <%= @ufo.speed %> MillionKm/h</p>
      <p><strong>Age:</strong> <%= @ufo.age %> years</p>
    </div>
    <div class="display-buttons">
      <div class="button">
        <% if policy(@ufo).edit? %>
        <p><%= link_to 'Edit', edit_ufo_path(@ufo.id), class: "btn btn-primary" %></p>
        <% end %>
      </div>
      <div class="button"><% if policy(@ufo).destroy? && @ufo.availability %>
        <%= link_to 'Delete this UFO', ufo_path(@ufo), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
    <hr class="style-four">
    <div class="reviews-container px-3">
      <%# <h3 class="mb-3">Reviews:</h3> %>
      <% if @ufo.reviews.empty? %>
        <p class="text-center">There are no reviews for this UFO</p>
      <% else %>
        <div class="p-3">
          <% @ufo.reviews.each do |review| %>
            <%= image_tag review.rental.customer.photo, class: "avatar" %>
            <div class="my-3">
              <%= review.content %>
            </div>
            <hr>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="details right-details picture picture_right">
    <%= image_tag "map.png", alt: "map-image" %>
    <div class="text-container">
      <p><strong>Location:</strong> Somewhere</p>
      <p><strong>Price:</strong> <%= @ufo.price %> Space$</p>
    </div>

    <div class="display-buttons">
      <% if @ufo.availability %>
        <%= form_tag ufo_rentals_path(@ufo) do %>
          <div class="input-daterange input-group" id="datepicker">
            <%= text_field_tag :start_date,
              '',
              class: "input-sm form-control datepicker",
              placeholder: "Pick a start date"
            %>
          </div>
          <div class="input-daterange input-group" id="datepicker">
            <%= text_field_tag :end_date,
              '',
              class: "input-sm form-control datepicker",
              placeholder: "Pick an end date"
            %>
          </div>
          <div class="btn-mg-top">
          <%= submit_tag 'Rent Now!', class: "btn btn-success btn-rent" %>
          </div>
        <% end %>
      <% else %>
        <p><strong>Thank you for renting with us!</strong></p>
      <% end %>
    </div>
  </div>
</div>
