<h1>SHOW PAGE</h1>
<p>Brand: <%= @ufo.brand %></p>
<p>Owner: <%= @ufo.owner.email %></p>
<p>Speed: <%= @ufo.speed %> MillionKm/h</p>
<p>Age: <%= @ufo.age %> years</p>
<p>Price: <%= @ufo.price %> Alien Money</p>
<p>Description <%= @ufo.description %></p>
<p><%= link_to 'Edit', edit_ufo_path(@ufo.id) %></p>
<%= link_to 'Back to home page', root_path %>
<% if policy(Ufo).destroy? %>
  <%= link_to 'Delete this UFO', ufo_path(@ufo), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
