<div class="container-show">
  <div class="details left-details">
    <div class="picture">
      <%= image_tag @ufo.photo, alt: "ufo-image" %>
    </div>
    <div class="text-container">
      <h3 class="my-3"><%= @ufo.brand %></h3>
      <p><strong>Features:</strong> <%= @ufo.description %></p>
      <p><strong>Owner:</strong> <%= @ufo.owner.email %></p>
      <p><strong>Speed:</strong> <%= @ufo.speed %> MillionKm/h</p>
      <p><strong>Age:</strong> <%= @ufo.age %> years</p>
    </div>
    <div class="display-buttons">
      <div class="px-0 py-3">
        <% if policy(@ufo).edit? %>
        <%= link_to 'Edit', edit_ufo_path(@ufo.id), class: "btn btn-primary mr-0" %>
        <% end %>
      </div>
      <div class="p-3">
        <% if policy(@ufo).destroy? && @ufo.availability %>
        <%= link_to 'Delete this UFO', ufo_path(@ufo), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger ml-0" %>
        <% end %>
      </div>
    </div>
    <hr class="style-four">
    <div class="reviews-container px-3">
      <%# <h3 class="mb-3">Reviews:</h3> %>
      <% if @ufo.reviews.empty? %>
        <p class="text-center">There are no reviews for this UFO</p>
      <% else %>
        <div class="p-3 ">
          <% @ufo.reviews.each do |review| %>
            <%= image_tag review.rental.customer.photo, class: "avatar" %>
            <div class="p-3">
              <%= review.content %>
            </div>
            <hr>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="details right-details picture picture_right">
    <%= image_tag "map.png", alt: "map-image" %>
    <div class="text-container">
      <p><strong>Location:</strong> Somewhere</p>
      <p><strong>Price:</strong> <%= @ufo.price %> Space$</p>
    </div>
    <% if Ufo.find(params[:id]).owner_id == current_user.id %>
      <div class="rent_message maincolor">
        <h5>Your UFO is currently</h5>
        <h5>listed for renting</h5>
      </div>
      <% else %>
      <div class="display-buttons">
        <% if @ufo.availability %>
          <%= form_tag ufo_rentals_path(@ufo) do %>
            <div class="input-daterange input-group" id="datepicker">
              <%= text_field_tag :start_date,
                '',
                class: "input-sm form-control datepicker",
                placeholder: "Pick a start date"
              %>
            </div>
            <div class="input-daterange input-group" id="datepicker">
              <%= text_field_tag :end_date,
                '',
                class: "input-sm form-control datepicker",
                placeholder: "Pick an end date"
              %>
            </div>
            <div class="btn-mg-top">
            <%= submit_tag 'Available Rent Now!', class: "btn btn-success btn-rent" %>
            </div>
          <% end %>
        <% else %>
        <div class="rent_message text-danger">
          <h5>Not Available</h5>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
