<div class="container_show">
  <div class="details left_details">
    <div class="picture"><%= image_tag "ufo1.jpg", alt: "ufo-image" %></div>
    <div class="text-container">
      <p><h3><%= @ufo.brand %></h3></p>
      <p><strong>Description:</strong> <%= @ufo.description %></p>
      <p><strong>Owner:</strong> <%= @ufo.owner.email %></p>
      <p><strong>Speed:</strong> <%= @ufo.speed %> MillionKm/h</p>
      <p><strong>Age:</strong> <%= @ufo.age %> years</p>
    </div>
    <div class="display_buttons">
      <div class="button">
        <% if policy(@ufo).edit? %>
        <p><%= link_to 'Edit', edit_ufo_path(@ufo.id), class: "btn btn-primary" %></p>
        <% end %>
      </div>

      <div class="button"><% if policy(@ufo).destroy? && @ufo.availability %>
        <%= link_to 'Delete this UFO', ufo_path(@ufo), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
        <% end %></div>
      </div>

    </div>

    <div class="details right_details picture picture_right">
      <%= image_tag "map.png", alt: "map-image" %>
      <div class="text-container">
        <p><strong>Location:</strong> Somewhere</p>
        <!-- <p>Availability: <%= @ufo.availability %> -->
          <p><strong>Price:</strong> <%= @ufo.price %> Space$</p>
        </div>
        <div class="display_buttons">
          <% if @ufo.availability %>
          <%= link_to 'Availabe Rent Now!', ufo_rentals_path(@ufo), method: :post , class: "btn btn-success" %>
          <% else %>
            <p>NOT AVAILABLE</p>
          <% end %>
          </div>
      </div>
    </div>




