<div align=center class><%= image_tag "ufo1.jpg", alt: "ufo-image", width: 200 %></div>
<h1>SHOW PAGE</h1>
<p>Brand: <%= @ufo.brand %></p>
<p>Owner: <%= @ufo.owner.email %></p>
<p>Speed: <%= @ufo.speed %> MillionKm/h</p>
<p>Age: <%= @ufo.age %> years</p>
<p>Price: <%= @ufo.price %> Alien Money</p>
<p>Description: <%= @ufo.description %></p>
<p>Availability: <%= @ufo.availability %>
<% if @ufo.availability %>
  <%= link_to 'Rent!', ufo_rentals_path(@ufo), method: :post %>
<% end %>
</p>



<% if policy(@ufo).edit? %>
  <p><%= link_to 'Edit', edit_ufo_path(@ufo.id) %></p>
<% end %>
<%= link_to 'Back to home page', root_path %>
<% if policy(@ufo).destroy? && @ufo.availability %>
  <%= link_to 'Delete this UFO', ufo_path(@ufo), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
